{% extends 'base.html' %}
{% block title %}Галерея{% endblock %}
{% set usrs = '/users' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.bootstrap5.min.css') }}"/>
{% endblock %}

{% block content %}
<div class="table-responsive-xl">
<table id="data" class="table text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">text</th>
        <th scope="col">image name</th>
        <th scope="col">creation date</th>
        <th scope="col">created by</th>
        <th scope="col">edit</th>
      </tr>
    </thead>
    <tbody>
      {% for g in gal %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>
          <a href="/static/gallery/{{g.img}}" class="link-info">
            {% if g.text %}
              {{g.text}}
            {% else %}
              ...
            {% endif %}
          </a>
        </td>
        <td>{{g.img}}</td>
        <td>{{g.date}}</td>
        <td>
            <a href="/user/{{created_by[loop.index-1].login}}" class="link-info">{{created_by[loop.index-1].login}}</a>
        </td>
        {% if user.is_admin %}
        <td>
          <a href="gallery/{{g.id}}/edit" class="btn btn-warning" role="button">Редагувати</a>
          <a href="gallery/{{g.id}}/delete" class="btn btn-danger" role="button">Видалити</a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  {% if user.is_admin %}
  <a href="/gallery-add" class="btn btn-success" role="button">Додати картинку</a>
  {% endif %}

  {% block script %}
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery-3.6.0.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/datatables.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/dataTables.bootstrap5.min.js') }}"></script>
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {orderable: true, searchable: true},
          {orderable: true, searchable: true},
          {orderable: true, searchable: true},
          {orderable: true, searchable: false},
          {orderable: false, searchable: false}],
        stateSave: true,
        "bDestroy": true,
        language: {
            url: '//cdn.datatables.net/plug-ins/1.11.3/i18n/uk.json'
        }
      })
    });
  </script>
  {% endblock %}
{% endblock %}