{% extends 'base.html' %}
{% block title %}Додати картинку{% endblock %}
{% set usrs = '/users' %}

{% block content %}
<div class="container">
    <main class="form">
        <form method="post" enctype="multipart/form-data">
            <div>
                <label for="gal" class="form-label"><h1>Виберіть картинку</h1></label>
                <input class="form-control form-control-lg" id="gal" name="gal" type="file">
            </div>
            <br>
            <div class="form-floating">
                <input
                    type="text"
                    class="form-control"
                    id="text"
                    name="text"
                    placeholder="name"
                />
                <label for="text">Опис за бажанням</label>
            </div>
            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">
                Завантажити
            </button>
    </main>
</div>
{% endblock %}