<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <title>{% block title %}Головна{% endblock %}</title>
    {% block css %}{% endblock %} {% block style %}{% endblock %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Медок</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  {% if main%}class="nav-link active"{% else %}class="nav-link"{% endif %}href="/"
                >
                  Головна
                </a>
              </li>
              <li class="nav-item">
                <a
                  {% if news %}class="nav-link active"{% else %}class="nav-link"{% endif %}
                  href="/news"
                >
                  Новини
                </a>
              </li>
              <li class="nav-item">
                <a
                  {% if gallery %}class="nav-link active"{% else %}class="nav-link"{% endif %}href="/gallery"
                >
                  Галерея
                </a>
              </li>
            </ul>
            <div class="d-flex">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user and user.is_authenticated %}
                <li class="nav-item">
                  <a
                    {% if home%}class="nav-link active"{% else %}class="nav-link"{% endif %}href="/home"
                  >
                    Домівка
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn btn-danger text-white" href="/logout"
                    >Вихід</a
                  >
                </li>
                {% else %}
                <li class="nav-item">
                  <a
                    {% if login%}class="nav-link active"{% else %}class="nav-link"{% endif %}href="/login"
                  >
                    Логін
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    {% if signup%}class="nav-link active"{% else %}class="nav-link"{% endif %}
                    href="/sign-up"
                  >
                    Реєстрація
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    {% if user %}
    {% if user.is_admin and (home or usrs or edit or page) %}
    <div class="d-flex justify-content-end">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/home">Адміністрування</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/users">Користувачі</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts-edit">Пости</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery-edit">Галерея</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    {% endif %}
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="d-flex justify-content-end">
      <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
        ></button>
      </div>
    </div>
    {% else %}
    <div class="d-flex justify-content-end p-3">
      <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
        ></button>
      </div>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container-fluid">{% block content %} {% endblock %}</div>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container-fluid">
        <div class="col-md-4 d-flex align-items-center">
          <a
            href="/"
            class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
          >
            <svg class="bi" width="30" height="24">
              <use xlink:href="#bootstrap" />
            </svg>
          </a>
          <span class="text-muted">&copy; 2021 Медок, Inc</span>
        </div>
        <div class="d-flex p-3">
          <ul class="nav justify-content-start list-unstyled">
            <li>
              <a
                class="text-muted"
                href="https://twitter.com/okashichandes"
                target="_blank"
                ><svg class="bi" width="24" height="24">
                  <img
                    src="{{ url_for('static', filename='images/twitter.svg') }}"
                  /></svg
              ></a>
            </li>
            <li>
              <a
                class="text-muted"
                href="https://www.instagram.com/okashichandesu"
                target="_blank"
                ><svg class="bi" width="24" height="24">
                  <img
                    src="{{ url_for('static', filename='images/instagram.svg') }}"
                  /></svg
              ></a>
            </li>
            <li>
              <a
                class="text-muted"
                href="https://t.me/PeliemeniDesu"
                target="_blank"
                ><svg class="bi" width="24" height="24">
                  <img
                    src="{{ url_for('static', filename='images/telegram.svg') }}"
                  /></svg
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='javascript/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
  </body>
</html>
