{% extends 'base.html' %}
{% block title %}Створити пост{% endblock %}
{% set page = '/login' %}

{% block content %}
<div class="container p-2">
    <main class="form-signin">
        <form method="post">
        <h1 class="text-center h3 mb-3 fw-normal">Редагування</h1>
        <div class="form-floating p-1">
            <input
                type="text"
                class="form-control"
                id="head"
                name="head"
                value="{{post_edit.head}}"
                placeholder="head"
            />
            <label for="head">Заголовок</label>
        </div>
        <div class="form-group p-1">
            <label for="data">Текст постa</label>
            <textarea class="form-control" id="data" name="data" rows="20">{{post_edit.data}}</textarea>
        </div>
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">
            Редагувати пост
        </button>
    </main>
</div>
{% endblock %}