{% extends 'base.html' %}
{% block title %}Профіль{% endblock %}

{% block content %}
<div class="container p-2">
    <div class="bg-light p-5 rounded">
      <h1>Сторінка користувача <strong>{{ user_page.login }}</strong></h1>
      <img    
            class="rounded float-end"
            src="{{ user_page.avatar(128) }}"
            width="128"
            height="128"
        />
        <p class="lead">Пошта: {{ user_page.email }}</p>
        <p class="lead">Останній раз був на сайті: {{ user_page.last_seen }}</p>
    </div>
</div>
<div class="container p-2">
    <div class="bg-light p-5 rounded">
        <h1>Пости</strong></h1>
        {% for p in user_page.notes %}
            <a href="/news/{{p.id}}" class="link-info">
                <p class="lead"> {{ p.head }} </p>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}